fastapi
uvicorn
psycopg2-binary
sqlalchemy
pgvector
python-dotenv
langchain
langchain-openai
langchain-community
langchain-ollama
openai
ollama
passlib[bcrypt]
bcrypt==4.0.1
python-jose
python-multipart
apscheduler
requests
groq
