fastapi
uvicorn
psycopg2-binary
sqlalchemy
langchain
openai
pgvector
python-dotenv
langchain-openai
langchain-community
langchain
ollama
langchain-ollama
passlib[bcrypt]
python-jose
python-multipart
apscheduler
streamlit
requests